* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.layout {
    display: flex;
    flex-direction: column; 
    align-items: center ;
    justify-content: space-between;
    background-image: url(../Recursos/fondo-pantalla.jpg); 
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    box-sizing: inherit;  
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    background-image: url(../Recursos/fondo-header2.jpg  ) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    padding: 10rem;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3rem;
}

/* BARRA NAVEGACION */

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    background-image: linear-gradient(to right,rgb(109, 192, 224), rgb(6, 133, 184));
}

.header__lista {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header__lista li {
    list-style-type: none;
    display: inline; 
	padding: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
}

.header__link {
    text-decoration: none;
    color: white;
    font-size: 1.375rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border: 1px solid black;
    border-radius: 0.625rem;
    background-image: linear-gradient(to top, rgb(6, 75, 153), rgb(8, 118, 243));
}

.header__lista li:hover {
    transform: scale(0.9);
    color: white;
}

li {
    display: flex;
    
}

    /* LOGO */

.header__logo {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: flex-start;
    transform: translate(-15vw, -10vh);
    margin: 6vw;
    padding: 0.75rem;
    border-radius: 50%;
    width: 13rem;
    height: 15rem;
    border: 0.125rem solid gray;
    background-color: white;
}

/* TITULO */

.header__titulo {
    display: flex;
    flex-direction: row;
    transform: translate(-30vw, -10vh);
    align-items: center;
    font-family: 'Lobster';
    text-align: center;
    color: white;
    border: 0.188rem solid black;
    border-radius: 1.25rem;
    padding: 0.938rem;
    background-color: rgb(133, 133, 133); 
    overflow-y: hidden;
}

.header__tituloB {
    display: flex;
    flex-direction: row;
    transform: translate(-45vw, -10vh);
    align-items: center;
    font-family: 'Lobster';
    font-size: 1.875rem;
    text-align: center;
    color: white;
    border: 0.188rem solid black;
    border-radius: 1.25rem;
    padding: 0.938rem;
    background-color: rgb(133, 133, 133); 
    overflow-y: hidden;
}

.header__tituloLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: lighter;
}

/* PARRAFO */

.main__parrafo {
    display: flex;
    flex-flow: column;
    background-color: rgb(63, 63, 63);
    margin: 1.875rem;
    height: fit-content;
    padding: 0.625rem;
    align-items: center;
    align-self: center;
    border: 0.125rem solid black;
    border-radius: 1.875rem;
    box-sizing: border-box;
}

.main__parrafo p{
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;
    color: white;
    text-align: justify;
    justify-content: center;
    text-decoration: dotted;
}

.variantes {
    display: flex;
    flex-direction: column;
    overflow: visible;
    background-image: url(../Recursos/fondo-pantalla.jpg);
    background-size: contain;
}

.main__texto {
    display: flex;
    flex-direction: column;
    text-align: justify;
    height: fit-content;
    margin: 3.125rem;
    padding: 0.625rem;
    border: 0.125rem outset black; 
    background-color: gray;
    border-radius: 1.875rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;
    color: white;
    box-sizing: border-box;
    
}

/* APARATOS */

.main__femeninos {
    display: flex;
    flex-direction: column;
}

.main__aparatos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;  
    width: fit-content;
    align-self: center;
}

.main__imagen {
    display: flex;
    border-radius: 1.875rem;
    margin: 1.25rem;
    max-width: 80vw;
    max-height: 80vh;
    
}

.main__imagen:hover {
    animation: animacion-variantes 2s  1 normal ;
    
}
@keyframes animacion-variantes {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.5);
	}
}

.main__fotos {
    display: flex;
    flex-direction: row;
}

.main__subtitulo {
    display: inline;
    font-family: 'Lobster';
    font-size: 1.875rem ;
    margin: 1.875rem;
    padding: 0.625rem;
    vertical-align: text-top;
    text-align: center;
    color: white;
    border: 0.125rem solid black;
    border-radius: 1.25rem;
    background-color: rgb(21, 125, 223);
    word-spacing: 0.625rem;
}

.main__sub {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.563rem ;
    color: black;
    text-align: center;
    align-items: center;
    word-spacing: 0.313rem;
}

.main__sub h4 {
    background-color: rgb(2, 156, 245);
    text-align: center;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
    color: white;
    border: 0.125rem solid rgb(0, 0, 0);
    border-radius: 0.625rem;
}

/* videos */

.main__videos iframe {
    width: 38vw;
    height: 46vh;
}

/* FOOTER */

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.footer__texto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 1.563rem;
    font-family: 'Lobster';
    width: 100vw;
    text-decoration: none;
    
}

.footer__animacion {
    animation: cssAnimation_0 4s infinite ease;
}

@keyframes cssAnimation_0 {
    to {
        transform: translate(1.25rem, 1.25rem) scale(1.5, 1.6);
    }
}

.footer__redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    background-color: black;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;  
    font-size: 1.25rem;
    
}

.footer__link {
    padding: 0.625rem;
    border-radius: 0.625rem;
    border: 0.125rem solid rgb(0, 177, 118);
    background-image: linear-gradient(to top, black, rgb(46, 46, 46));
}

.footer__link a {
    text-decoration: none;
    color: white;
}

.footer__link:hover {
    transform: scale(1.2);
}

/* REFERENTES */

.main__wiki {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    font-size: 1.25rem;
    margin: 0.625rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main__imagenRef {
    border-radius: 1.875rem;
    margin: 1.25rem;
    width: 50vw;
    max-width: 80vw;
    max-height: 80vh;
}

.main__nombre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: rgb(25, 126, 209);
    border: 0.125rem solid black;
    border-radius: 0.938rem;
    padding: 0.625rem;
}

.main__nombre:hover {
    transform: scale(1.1);
}

.main__logoLink {
    display: flex;
    flex-direction: row;
    width: 2.5rem;
}

/* MIS VIDEOS */

.main__misVideos {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center; 
    gap: 1.25rem;
}

iframe {
    display: inline;
    margin: 2%;
    border-radius: 1.25rem;
}

/* FORMULARIO */

.main__contacto {
    display: flex;
    flex-direction: column;
    margin: 2.5rem;
    padding: 0.625rem;
    background-image: url(../Recursos/fondo-formulario.jpg);
    background-size: cover;
    border: 0.125rem solid white;
}

.main__formularios {
    display: flex;
    flex-direction: column;
    margin: 0.188rem;
    color: white;
    font-size: 1.25rem;
    align-items: center;
    text-align: justify;
}

.main__main { 
    display: grid ;
}

.main__input {
    display: inline;
    font-size: 1.563rem;
    color: rgb(32, 3, 85);
    transform: translateX(120%);
    margin: 0.625rem;
    padding: 0.313rem;
    border-radius: 0.625rem;
    background-color: white;
}

/* MEDIA QUERIES */

@media (min-width: 33.813rem) and (max-width: 53.75rem) {
    
    .header__nav ul {
        display: flex;
        flex-direction: column;
    }

    .header__tituloLogo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    .header__logo {
        display: flex;
        align-self: center;
        transform: translateX(-70%)
    }

    .grid__containerRef {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "grid__itemUno grid__itemTres"
                            "grid__itemDos grid__itemCuatro"
                            "grid__itemCinco grid__itemSiete"
                            "grid__itemSeis grid__itemOcho" ;
    }

    .main__wiki {
        display: flex;
        flex-direction: column;
    }

    .footer__redes {
        display: flex;
        flex-direction: column;
    }

    .header__nav {
        position: static;
    }

    .header__titulo {
        transform: translateX(-30%);
        justify-content: center;
        align-content: center;
    }

    .header__tituloB {
        transform: translateX(-70%);
        align-content: center;
    }
}

@media (min-width: 7.5rem) and (max-width: 33.75rem) {
    .header__nav ul {
        display: flex;
        flex-direction: column;
    }

    .header__tituloLogo {
        display: flex;
        flex-direction: column;
    }

    .header__logo {
        display: flex;
        justify-content: center;
        transform: translateX(-70%)
    }

    .main__video {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .main__videos iframe {
        width: 100vw;
        height: 46vh;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .main__parrafo{
        display: flex;
        flex-direction: column;
        margin: 1.875rem;
    }

    .main__texto {
        display: flex;
        flex-direction: column;
        margin: 1.875rem;
    }

    .grid__containerRef {
        grid-template-columns: 1fr;
        grid-template-areas: "grid__itemUno" 
                            "grid__itemTres"
                            "grid__itemDos" 
                            "grid__itemCuatro"
                            "grid__itemCinco"
                            "grid__itemSiete"
                            "grid__itemSeis" 
                            "grid__itemOcho" ;
    }

    .main__wiki {
        display: flex;
        flex-direction: column;
    }

    .footer__redes {
        display: flex;
        flex-direction: column;
    }

    .header__nav {
        position: static;
    }

    .header__titulo {
        transform: translateX(-50%);
    }
    
    .header__tituloB {
        transform: translateX(-80%);
        align-content: center;
    }
}   


