/* FOOTER */

.footer {
    grid-area: footer;
    display: flex;
    background-color: $color-secundario;
    justify-content: center;
    align-items: center;
    
    &__texto {
    display: flex;
    justify-content: center;
    text-align: center;
    color: $color-nav;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 1.563rem;
    font-family: $fuente-subtitulo;
    width: 100vw;
    text-decoration: none;
}

&__animacion {
    animation: cssAnimation_0 4s infinite ease;

    @keyframes cssAnimation_0 {
        to {
            transform: translate(1.25rem, 1.25rem) scale(1.5, 1.6);
        }
    }
}

&__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    
}

&__redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: $color-secundario;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;  
    font-size: 1.25rem;
    width: 50%;
}

&__link {
    padding: 0.625rem;
    border-radius: 0.625rem;
    background-image: linear-gradient(to top, $color-secundario, $color-gradiente-uno);
    
    & .a {
        text-decoration: none;
        color: $color-nav;
    }

    &:hover {
        transform: scale(1.2);
    }
}
}
