/* HEADER */

.header {
    display: flex;
    flex-direction: column;
    background-image: url(../Recursos/fondo-header2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    padding: 10rem;

    /* BARRA DE NAVEGACION */
    
    &__nav {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100vw;
            background-image: linear-gradient(to right,$color-gradiente-dos, $color-sub);
    }

    &__lista {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        width: 70vw;
        font-family: $fuente-subtitulo;
        list-style-type: none;
        &-li {
            display: inline; 
        }

        &-li:hover {
            transform: scale(0.9);
            color: $color-principal;
        }
    }

    &__link {
        text-decoration: none;
        color: $color-principal;
        font-size: 1.375rem;
        width: 100%;
        padding: 0.5rem 1rem;
        border: 2px solid $color-border-button;
        border-radius: 0.625rem;
        background-image: linear-gradient(to top, $color-boton-nav, $color-gradiente-dos);
    }

    /* LOGO */

   /*  &__img-container {
        width: 8rem;
        margin-bottom: 2rem;
        
    } */

    &__logo {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        justify-content: flex-start;
        transform: translate(-15vw, -10vh);
        margin: 6vw;
        padding: 0.75rem;
        border-radius: 50%;
        width: 13rem;
        height: 15rem;
        border: 0.125rem solid gray;
        background-color: $color-principal;
    }



    /* TITULO */

    &__titulo {
        display: flex;
        flex-direction: row;
        transform: translate(-30vw, -10vh);
        align-items: center;
        font-family: $fuente-titulo;
        text-align: center;
        color: $color-principal;
        border: 0.188rem solid $color-secundario;
        border-radius: 1.25rem;
        padding: 0.938rem;
        background-color: $color-background-text; 
        overflow-y: hidden;
    }

    &__tituloB {
        display: flex;
        flex-direction: row;
        transform: translate(-45vw, -10vh);
        align-items: center;
        font-family: $fuente-titulo;
        text-align: center;
        color: $color-principal;
        border: 0.188rem solid $color-secundario;
        border-radius: 1.25rem;
        padding: 0.938rem;
        background-color: $color-background-text; 
        overflow-y: hidden;
    }

    &__tituloLogo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
    }
}

