/* COLORES */

$color-principal: white;
$color-secundario: black;
$color-background-text: rgb(139, 139, 139);
$color-border-button: rgb(0, 177, 118);
$color-subtitulo: rgb(21, 125, 223);
$color-boton-nav: rgb(19, 104, 184);
$color-sub: rgb(2, 156, 245);
$color-gradiente-uno: rgb(46, 46, 46);
$color-gradiente-dos: rgb(109, 192, 224);

/* FUENTES */

$fuente-titulo: 'Lobster';
$fuente-subtitulo: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', 'sans-serif';

/* EACH */

$sizes: (h1: 1.875rem, h2: 1.775rem, h3: 1.5rem, article: 1.25rem);

@each $texto, $size in $sizes {
    #{$texto}{
        font-size: #{$size};
    }
}